body {
  background-image:url('http://www.walterlogeman.com/art/images/2008-07-01-circles/circle2.jpg');
  background-color: #fbfcf6;
  background-repeat: no-repeat;
  background-position:  15vw 0vw, center;
}

h1,h2 {
  position: relative;
  background: black;
  color: white;  
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif, 200%;
  text-align: center;
  font-weight: lighter;
  box-shadow: 10px 10px 5px #888888;
}

h1{
  font-size: 100px;
}

h1:before, h1:after {
  content: "";
  position: absolute;
  background: black;  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
} 

h1:before {
  right: 100%; 
}

h1:after {
  left: 100%;
}

a {
  text-decoration:none; 
}

#play {
  width: 30%;
  float: right;
  height: 6vw;
  background-color:#CC0033;
  font-size: 30px;
}

.button {
  float: left;
  height: 5vw;
  width: 9%;
  margin: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #888888;
}

.button:hover {
  background-color: red;
  color: black;
}

.container {
  clear: both;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  background-color: rgba(220, 220, 220, 0.70);
}

th {
  text-align: left;
}

.content {
  clear: left;
  width: 49vw;
  border: 2px solid black;
  margin: auto;
  overflow: auto;
}

.column {
  border: none;
  width: 5vw;
  padding: 1vw;
  background-color: yellow;
  overflow: auto;
  float: left;
}

.row {
  float: left;
  height: 5vw;
  width: 98%;
  margin: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

.board {
  /*border: 2px solid black;*/
  overflow: auto;
}

#conversation {
	width: 500px;
	height: 300px;
	border: 2px dotted gray;
}

.header {
  clear: both;
  overflow: auto;
}
