<div class="container">
		<h2>Sign Up!</h2>
		  <form action="/join" name="user" method="post">
		    <input name="user[username]" type="text" placeholder="User Name"><br>
		    <input name="user[email]" type="email" placeholder="Email"><br>
		    <input name="user[password]" type="password" placeholder="Password"><br>
		    <input name="user[password_confirmation]" type="password" placeholder="Confirm Password">
		    <input type="submit" value="join">
		  </form>

</div>		  