

<h4>Sign Up!</h4>
  <form action="/join" name="user" method="post">
    <input name="user[username]" type="text" placeholder="User Name"><br>
    <input name="user[email]" type="email" placeholder="Email"><br>
    <input name="user[password]" type="password" placeholder="Password">
    <input name="user[password_confirmation]" type="password" placeholder="Confirm Password">
    <input type="submit" value="join">
  </form>