
<div class="container">
<h2>Your Profile Page</h2>
  <p>Welcome, <%= @user.username %>! Its really great to see you back at Connect 4 Friends.  We've missed you!</p>
  <!-- <button><a href="/">Sign Out</a></button>  -->
  <h4>Games in Play</h4>
  <ul>
  <% @user.games.each do |game| %>
  	<li><a href="/game/<%= game.id %>"><%= game.id %></a></li>
  <% end %>
	</ul>

  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>function drawVisualization() {
  // Prepare the data
  var data = google.visualization.arrayToDataTable([
    ['UserName', 'Wins'],
    ['Michael' , 12],
    ['Elisa', 20],
    ['Robert', 7],
    ['John', 54],
    ['Jessica', 22],
    ['Aaron', 3],
    ['Margareth', 42],
    ['Miranda', 33]
  ]);

  // Define a NumberRangeFilter slider control for the 'Age' column.
  var slider = new google.visualization.ControlWrapper({
    'controlType': 'NumberRangeFilter',
    'containerId': 'control1',
    'options': {
      'filterColumnLabel': 'Wins',
      'minValue': 0,
      'maxValue': 60
    }
  });

  // Define a bar chart
  var barChart = new google.visualization.ChartWrapper({
    'chartType': 'BarChart',
    'containerId': 'chart1',
    'options': {
      'width': 400,
      'height': 300,
      'hAxis': {'minValue': 0, 'maxValue': 60},
      'chartArea': {top: 0, right: 0, bottom: 0}
    }
  });

  // Create the dashboard.
  var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard')).
    // Configure the slider to affect the bar chart
    bind(slider, barChart).
    // Draw the dashboard
    draw(data);
}</script>
</div>


