<div class="content">

<% 7.times do |i| %>

  <div id=<%= i.to_s %> class="column board">

    <% 6.times do |j| %>

      <div id=<%= "#{i}-#{5 - j}" %> class="row board"></div>

    <% end %>

  </div>

<% end %>

</div>

<script>
  var turn = true

  var player = {};
  var getPlayer = function() {
    $.ajax({
      url: window.location.pathname + "/usertype",
      type: "post",
      dataType: "json",
      success: function(data) { player = data; }
    });
  }
  getPlayer();



  var board = [];
  function getBoard() {
  $.ajax({
      url: window.location.pathname + "/board",
      dataType: "json",
      success: function(data) { board = data; },
      complete: function() { setTimeout(getBoard, 100); }
    });
  };
  getBoard();



  function updateBoard() {
    for (var column = 0; column < board.length; column++) {
      for (var row = 0; row < board[column].length; row++) {
        var color = "white"
        if (board[column][row] == "player1") {
          var color = "red";
        } else if (board[column][row] == "player2") {
          var color = "black";
        };

        $("#" + column + "-" + row).css("background-color", color);
      };
    };
  };



  setInterval(updateBoard, 100);

  $(".column").click(function(e) {
    e.preventDefault();
    
    if (turn) {
      var column = parseInt($(this).attr("id"));
      var row = board[column].indexOf(" ");
      board[column][row] = player.type;
      // turn = false
      $.ajax({
        url: window.location.pathname + "/move",
        type: "post",
        dataType: "string",
        data: { row: row, column: column, user: player.user }
        // success: { updateBoard() }
      });
    } else {
      alert("It's not your turn.");
    };
  });

</script>