<div class="content">

<% 7.times do |i| %>

  <div id=<%= i.to_s %> class="column board">

    <% 6.times do |j| %>

      <div id=<%= "#{i},#{j}" %> class="row board"></div>

    <% end %>

  </div>

<% end %>

</div>

<script>

  var player = $.ajax({
    url: window.location.pathname + "/usertype",
    dataType: "json",
    success: function(data) { return data; }
  });

  var board = [];
  function getBoard() {
  $.ajax({
      url: window.location.pathname + "/board",
      dataType: "json",
      success: function(data) { board = data; },
      complete: function() { setTimeout(getBoard, 500); }
    });
  };
  getBoard();

  function updateBoard() {
    for (var column = 0; column < board.length; column++) {
      for (var row = 0; row < board[column].length; row++) {
        if (board[column][row] == "player1") {
          var color = "red";
        } else if (board[column][row] == "player2") {
          var color = "black";
        };

        $("#" + column + "," + row).css("background-color", color);
      };
    };
  };

  setInterval(updateBoard, 500);

  $(".column").click(function(e) {
    e.preventDefault();
    // check to see if it's your turn
    // use jquery to select the first empty row in this column
    // change background color to correct color
    // submit ajax request

  });

</script>