<div class="content">

<% 7.times do |i| %>

  <div id=<%= i.to_s %> class="column board">

    <% 6.times do %>

      <div class="row board"></div>

    <% end %>

  </div>

<% end %>

</div>

<script>

  var player = $.ajax({
    url: window.location.pathname + "/usertype",
    dataType: "json",
    success: function(data) { return data; }
  });

  var board = [];
  function getBoard() {
  $.ajax({
      url: window.location.pathname + "/board",
      dataType: "json",
      success: function(data) { board = data; },
      complete: function() { setTimeout(getBoard, 1000); }
    });
  };
  getBoard();

</script>