<div id="board" class="content">

<% 7.times do |i| %>

  <div id=<%= i.to_s %> class="column board">

    <% 6.times do |j| %>

      <div id=<%= "#{i}-#{5 - j}" %> class="row board"></div>

    <% end %>

  </div>

<% end %>

</div>

<%= erb :chat %>

<script src="/js/game.js"></script>
