<h1>Connect 4 Friends</h1>

<button class="play"><a href="">Play Now >></a></button><br>
<div id="start">Start a <br>new chat!</div>

<form action="conversation/new" name="start_conv" method="post">
	<input type="submit" value="Go!!!">
</form>
